#Database
DB_USER=Your_database_username
DB_PASSWORD=Your_database_password
DB_NAME=Your_database_name

#RabbitMQ
RMQ_USER=Your_RabbitMQ_Username
RMQ_PASSWORD=Your_RabbitMQ_Password

#Seq
SEQ_ADMIN_PASSWORD=Your_firstrun_adminpassword