DataHarvester.Orchestrator/bin/
DataHarvester.Orchestrator/obj/
.vs/
DataHarvester.Worker/bin/
DataHarvester.Worker/obj/
DataHarvester.Contracts/bin/
DataHarvester.Contracts/obj/
DataHarvester.slnLaunch.user